<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="card" style="width: 35rem">
        <img
          class="card-img-top"
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.dongee.com%2Fwp-content%2Fuploads%2F3819287-scaled.jpg&f=1&nofb=1&ipt=d0a533163dba58f3f0e7639785e66ba4a858090fd24968ae96aef70d34460141"
          alt="Card image cap"
        />
        <div class="alert alert-danger" id="secret_msg" role="alert">
          Error While Performing Action Please go Back and Retry !!
        </div>
        <button type="button" class="btn btn-light" onclick="window.location.replace('/')">Go Back</button>
      </div>
    </div>
  </body>
</html>
