<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <span class="badge badge-pill badge-light"
        >Congrats You Are Logged In</span
      >
      <% if (userLoggedIn) { %>
      <script>
        sessionStorage.setItem("logged_in", true);
      </script>
      <% } else { %>
      <script>
        window.location.replace("/");
      </script>
      <% } %>
      <div class="card" style="width: 35rem">
        <img
          class="card-img-top"
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fthumbnails%2F016%2F071%2F197%2Fsmall_2x%2Fdesktop-login-isometric-illustration-light-gradient-suitable-for-mobile-app-website-banner-diagrams-infographics-and-other-graphic-assets-vector.jpg&f=1&nofb=1&ipt=6e51d598daf21dcfc31270d57fed853ce83c1475ae08ef3483b524f6d488561a"
          alt="Card image cap"
        />
        <div class="alert alert-success" id="secret_msg" role="alert">
          Congratulations!! you are now looged In.
        </div>
        <button type="button" class="btn btn-danger" onclick="removeSession()">
          Log Out
        </button>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
